.login {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
}

.login > img {
	width: 100%;
}

.login > a {
	text-decoration: none;
	padding: 20px;
	border-radius: 100px;
	color: #fff;
	background-color: #1db954;
	font-weight: 800;
}
