.login {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
}

.login > img {
	object-fit: contain;
	width: 400px;
}

.login > a {
	text-decoration: none;
	padding: 18px;
	border-radius: 100px;
	color: #fff;
	background-color: #1db954;
	font-weight: 600;
}
