.sidebar {
	border: 1px solid black;
	height: 100vh;
	flex: 0.2;
	color: white;
	min-width: 230px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #040404;
}

.sidebar__logo {
	object-fit: contain;
	padding: 10px;
	height: 80px;
	margin-right: auto;
}

.sideBar__playlistTitle {
	margin-left: 10px;
	padding: 5px;
	font-size: 12px;
}

.sidebar > hr {
	border: 1px solid #282828;
	width: 90%;
	margin: 10px auto;
}
