.footer {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	padding: 20px;
	height: 65px;
	width: 95%;
	background-color: #282828;
}

.footer__left {
	flex: 0.3;
}

.footer__center {
	display: flex;
	align-items: center;
	flex: 0.4;
	padding: 0 100px;
	color: white;
}

.footer__right {
	flex: 0.3;
}
